.App {
    text-align: center;
    background: linear-gradient(to bottom left, var(--bg-light) 25%, var(--bg-dark));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.settings-btn {
    position: absolute;
    margin: 0.5em 0.75em;
    right: 0;
    font-size: 1.75em;
    transition: 0.5s ease-out;
}

.settings-btn::after {
    content: "";
    clear: both;
    display: table;
}

.settings-btn:hover {
    transform: rotate(180deg);
}

.loading {
    margin: 0 auto;
    margin-top: 10em;
    border: 14px solid var(--bg-dark);
    border-radius: 50%;
    border-top: 14px solid var(--spinner);
    width: 5em;
    height: 5em;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

.main {
    padding-top: 4em;
}

.main h1 {
    font-size: 2.1em;
}

.main p {
    margin: 0 auto;
    padding: 0 1em;
    font-size: 1.25em;
    line-height: 1.5em;
    max-width: 40em;
    text-align: justify;
}

.main button {
    margin: 2em auto;
}

.main h1 {
    padding: 1em;
}

.game {
    padding: 4em 1em 0 1em;
}

.temperature-guess {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    margin-top: 2em;
}

.game input {
    margin: 1em auto;
    padding-left: 0.3em;
    color: var(--off-white);
    width: 3em;
    font-size: 1.25em;
    background-color: #05132051;
    border: 1px solid var(--line-color);
    border-radius: 5px;
}

.guess-input span {
    font-size: 1.25em;
}

.result h1 {
    margin-top: 1em;
}

.result h2 {
    margin: 1em auto;
    font-size: 2em;
}

.result h3 {
    font-size: 1.5em;
}

.hot {
    color: var(--hot);
}

.cold {
    color: var(--cold);
}

.correct {
    color: var(--correct);
}

.result button {
    margin: 2em auto 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
 }
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .main h1 {
        font-size: 3em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    .main h1 {
        font-size: 4em;
    }

    .main p {
        text-align: center;
    }
}