footer {
    padding: 2em;
    font-size: 1em;
}

footer a {
    color: var(--link);
}

/* PC + TABLETS */
@media screen and (min-width: 481px) {
    footer a:hover {
        text-decoration: underline;
    }
}