:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    --off-white: rgb(245, 245, 245);
    --bg-light: #008091;
    --bg-dark: #184883;
    --btn-bg: #003270;
    --btn-bg-hover: #062c5a;
    --spinner: #3498db;
    --link: #92f1fd;
    --line-color: #74a9b1;
    --hot: #ff8411;
    --cold: #90dfff;
    --so-close: #ffff00;
    --correct: #00e700;
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v13-latin/inter-v13-latin-regular.woff2') format('woff2');
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v13-latin/inter-v13-latin-700.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--off-white);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}

button:not(.settings-btn, .close) {
    padding: 0.5em 1em;
    background: var(--btn-bg);
    border: solid 2px var(--btn-bg);
    border-radius: 2em;
    font-size: 1.25em;
}

button:not(.settings-btn, .close):hover {
    background: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
}

hr {
    background-color: var(--line-color);
    border: none;
    height: 1px;
    margin: 1em auto;
}

img {
    user-select: none;
    margin: 0 auto;
    display: block;
}

h1 {
    font-size: 2em;
}

h1,
h2 {
    font-weight: 700;
}

form label {
    font-size: 1.25em;
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    h1 {
        font-size: 2.5em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    h1 {
        font-size: 3em;
    }
}