:root {
    --off-white: rgb(245, 245, 245);
    --bg-light: #008091;
    --bg-dark: #184883;
    --btn-bg: #003270;
    --btn-bg-hover: #062c5a;
    --spinner: #3498db;
    --link: #92f1fd;
    --line-color: #74a9b1;
    --hot: #ff8411;
    --cold: #90dfff;
    --correct: #00e700;
}

@font-face { 
    font-family: 'Inter'; 
    src: url("/fonts/Inter/Inter-Regular.ttf");
}

@font-face { 
    font-family: 'Inter Medium'; 
    src: url("/fonts/Inter/Inter-Medium.ttf");
}

@font-face { 
    font-family: 'Inter Semibold'; 
    src: url("/fonts/Inter/Inter-SemiBold.ttf");
}

@font-face { 
    font-family: 'Inter Bold'; 
    src: url("/fonts/Inter/Inter-Bold.ttf");
}

* {
    font-family: 'Inter', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--off-white);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}

button:not(.settings-btn, .close) {
    padding: 0.5em 1em;
    background: var(--btn-bg);
    border: solid 2px var(--btn-bg);
    border-radius: 2em;
    font-size: 1.25em;
}

button:not(.settings-btn, .close):hover {
    background: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
}

hr {
    background-color: var(--line-color);
    border: none;
    height: 1px;
    margin: 1em auto;
}

img {
    user-select: none;
}

h1 {
    font-size: 2em;
}

h1,
h2 {
    font-family: 'Inter Bold', 'Inter', Helvetica, sans-serif;
}

form label {
    font-size: 1.25em;
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    h1 {
        font-size: 2.5em;
    }
}

/* PC */
@media screen and (min-width: 1025px) {
    h1 {
        font-size: 3em;
    }
}