.weather-card {
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em;
    max-width: 35em;
    border: solid 2px var(--line-color);
    border-radius: 1em;
}

.weather-info-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.weather-card h2 {
    font-size: 2.5em;
}

.weather-card p {
    padding: 0.5em 0;
    font-size: 1.25em;
}

.weather-info-pic p {
    padding-top: 0;
}

.high-low {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}